* {
    box-sizing: border-box;
}

/**最上面**/
header {
    background-color: #a4c3b2;
    color: #6b9080;
    text-align: center;
    margin: 0px;
    padding: 15px;
}

body {
    background-color: #cce3de;
    margin: 0px;
}

/**目錄超連結**/
nav {
    background-color: #6b9080;
    font-family: Arial;
    text-align: center;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #a4c3b2;
    color: white;
}

main {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/**關於我**/
section {
    margin-bottom: 20px;
}

.area {
    background-color: #a4c3b2;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
}

.about-img {
    max-width: 250px;
    max-height: 250px;
    margin: -29px 100px;
    float: left;
}

.about1 {
    color: #2d6a4f;
    font-size: 20px;
}

/**標語**/
.area1 {
    background-color: #a4c3b2;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 15px;
}

.slogan {
    color: #2d6a4f;
    font-size: 30px;
    text-align: center;
}

.slogan2 {
    color: #2d6a4f;
    font-size: 15px;
    text-align: center;
}

/**聯絡方式**/
.container {
    display: flex;
}

h1 {
    color: #2d6a4f;
    font-size: 25px;
}

article {
    flex: 1;
    padding-right: 10px;
}

article a {
    color: #2d6a4f;
    text-align: right;
    font-size: large;
}

/**專業能力**/
.skill1 {
    color: #2d6a4f;
}

/**進度條間距**/
.skill2 {
    margin-bottom: 10px;
}

/**進度條框框長寬高背景**/
.skill3 {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

/**跑動的進度條本人**/
.skill4 {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    animation: progressAnimation 2s ease-in-out forwards;
}

/**@keyframes是動畫的規則 從0變成想好的%數**/
@keyframes PYTHON {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes JAVA {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}

@keyframes HTML {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes CSS {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

aside {
    flex: 2;
    padding-left: 10px;
}


/**大學生活**/
.about-img2 {
    max-width: 500px;
    max-height: 500px;
    margin-top: 0px;
    float: right;
    margin-right: 200px;
    border-radius: 10px;
}

.school1 {
    color: #2d6a4f;
    font-size: 20px;
    text-align: justify;
}

.school2 {
    color: #2d6a4f;
    font-size: 20px;
    text-align: justify;
}

/**課外活動**/
/**滑輪主體**/
.slider-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

/**圖片主體**/
.slider {
    display: flex;
    transition: transform 0.5s;
}

/**無限循環**/
.slider.animate {
    animation: play 6s linear infinite;

}

/**圖片大小**/
.slider img {
    width: 500px;
    height: auto;
}

/**@keyframes是動畫的規則 play是自己取的無限循環代稱 
0%是初始狀態100%是最終 transform是將東西水平移動 
translateX(0)不移動 translateX(-100%)往左移動-100%的距離**/
@keyframes play {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



.school3 {
    text-align: center;
    color: #2d6a4f;
    font-size: 20px;
}

/**打工經歷**/
.school4 {
    text-align: left;
    color: #2d6a4f;
    font-size: 20px;
}

.school5 {
    text-align: left;
    color: #2d6a4f;
    font-size: 15px;
}

.work {
    clear: right;
    font-size: 12px;
    color: #2d6a4f;
    text-align: right;
    margin-right: 200px;
}

/**底部**/
footer {
    background-color: #a4c3b2;
    color: #6b9080;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
